
.navbarMain{
    position: sticky !important;
    top: 0;
    z-index: 9;
    width: 100% !important;
    background-image: linear-gradient(to right, #041E42 , #142977);
    box-shadow: 0px 10px 10px -18px rgb(102, 101, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 108px !important;
    cursor: pointer;
}

.mobileNavbarMain{
    position: sticky !important;
    box-shadow: 0px 10px 10px -18px rgb(102, 101, 101);
    top: 0;
    z-index: 9;
    width: 100% !important;
    background-image: linear-gradient(to right, #041E42 , #142977);
    border-bottom: 1px solid #eeeeee !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px !important;
    height: 50px !important;
}
.navbarStyle{
    display: grid !important;
}

.navDropdownLink{
   color: #fff !important;
   min-height: 0px !important;
}

.antDrawerTitle{
    color: #fff !important;
}

.antDrawerHeader svg{
    color: #fff !important;
    font-weight: 800 !important;
}

.antDrawerBody{
    padding: 0px !important;
}

.cartProduct{
    padding: 14px 0px 14px 0px;
    border-width:0px 0px 0.8px 0px  !important;
    border-style: solid !important;
    border-color: #f8f8f8 !important;
}

.cartProductBadge{
    /* 1px solid #e96125 */
    background-color: #f2fef2;
    border: 1px solid #51aa1b;
    border-radius: 3px;
    color: #51aa1b;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    padding: 3px 5px 2px
}

.mobilemenuHeader{
    background-color: #f7f7f7;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee !important;
}

.menuListBtnItem{
    border-bottom: 1px solid #eeeeee !important;
    padding: 8px !important;
}
.menuListItem{
    border-bottom: 1px solid #eeeeee !important;
    display: flex;
    flex-direction: row;
    cursor: pointer !important;
    padding: 8px !important;
}

.menuListItem:hover {
    background-color: #eeeeee;
}

.antSelectArrow{
    top: 42% !important;
    right: 11px !important;
    width: 24px !important;
    height: 24px !important;
    margin-top: -8px !important;
    font-size: 22px !important;
}




.navbarBrand{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
}

.mobileNavbarBrand{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.navbarBrand:hover{
    color: #FF9C32;
}

.navbarBtnText:hover{
    color: #FF9C32;
}



.navbarMainCategories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    align-items: center;
    margin-left: 2%;
}
.navbarVl{
    border-left: 2px solid #fff;
    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
}


  .pOverlaypanel{
    margin-top:12px !important;
  }

  .pOverlaypanel:before {
        display: none !important;
  }

  .pOverlaypanel:after{
      display: none !important;
  }

  .pOverlaypanel-search{
    margin-top:10px !important;
    width: 48% !important;
    height: 300px !important;
  }

  .fitmentList{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 14px;
  }

  .searchList{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid #eeeeee;
    color: #000 !important;
}

.searchIcon .ant-input-group-addon{
    color: #FFF !important;
    background: #FF891E;
    border: none !important;
}

  

  .antInputSearch > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
      background: #FF891E;
      border-color: #FF891E !important;
      border-radius: 0px !important;
  }

  .desktopNavbarIcon{
      align-items: center;
      justify-content: center;
      margin-left: 6px;
      height: 40px;
  }

  .fitmentDialog .pDialogHeader {
    padding: 0rem !important;
    background-color: transparent !important;
    border-bottom: none;
}

.fitmentDialog .pDialogContent{
    padding: 0rem !important;
    background-color: transparent !important;
}



  @media only screen and (min-width:321px) and (max-width:768px) {
    .desktop-navbar-usericon{
        font-size: 20px;
        color: #FFF;
        margin-right: 4px;
    }
    .desktopNavbarCarticon{
        font-size: 24px;
        color: #FFF;
        margin-right: 4px;
    }
    .desktopNavbarText{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 16px;
    }
    .desktopNavbarSubtext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 10px;
    }
    .desktopNavbarCarttext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
    }
    .navbarBtnText{
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
    .selectVechile{
        color: #FF891E;
        font-size: 14px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
    }
    .desktopNavbarCaricon{
        font-size: 22px;
        color: #FF891E;
        margin-right: 10px;
    }
  }

  @media only screen and (min-width:769px) and (max-width:1024px) {
    .desktopNavbarUsericon{
        font-size: 22px;
        color: #FFF;
        margin-right: 8px;
    }
    .desktopNavbarCarticon{
        font-size: 28px;
        color: #FFF;
        margin-right: 6px;
    }
    .desktopNavbarText{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .desktopNavbarSubtext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 12px;
    }
    .desktopNavbarCarttext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;
    }
    .navbarBtnText{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    .selectVechile{
        color: #FF891E;
        font-size: 16px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
    }
    .desktopNavbarCaricon{
        font-size: 22px;
        color: #FF891E;
        margin-right: 12px;
    }
  }

  @media only screen and (min-width:1025px){
       
    .desktopNavbarUsericon{
        font-size: 22px;
        color: #FFF;
        margin-right: 12px;
    }
    .desktopNavbarCarticon{
        font-size: 30px;
        color: #FFF;
        margin-right: 8px;
    }

    .desktopNavbarText{
    color: #FFF;
    margin-bottom: 0px;
    font-size: 16px;
    }
    .desktopNavbarSubtext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 12px;
    }
    .desktopNavbarCarttext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 500;
    }
    .navbarBtnText{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
    .selectVechile{
        color: #FF891E;
        font-size: 18px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
    }
    .desktopNavbarCaricon{
        font-size: 24px;
        color: #FF891E;
        margin-right: 12px;
    }

  }

  @media only screen and (min-width:1440px){
       
    .desktopNavbarUsericon{
        font-size: 28px;
        color: #FFF;
        margin-right: 14px;
    }
    .desktopNavbarCarticon{
        font-size: 34px;
        color: #FFF;
        margin-right: 8px;
    }

    .desktopNavbarText{
    color: #FFF;
    margin-bottom: 0px;
    font-size: 18px;
    }
    .desktopNavbarCarttext{
        color: #FFF;
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 500;
    }
    .navbarBtnText{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
    .selectVechile{
        color: #FF891E;
        font-size: 18px;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12px;
    }
    .desktopNavbarCaricon{
        font-size: 24px;
        color: #FF891E;
        margin-right: 12px;
    }

  }

  @media only screen and (max-width: 768px) {
    .desktopNavbarIcon{
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        height: 25px;
    }
  }



.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: 44px !important;
}

/* .ant-input-group-addon:first-child{
    border-top-left-radius:22px;
    border-bottom-left-radius: 22px;
}

.ant-input-group-addon:last-child{
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
} */