.homePage-style{
    background-color: #EAEDED;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.grid-product-style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.carousel-featured-products{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #fff;
    padding: 0.4% 1% 0% 1%;
    
}

.carousel-featured-products-grid{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #fff;
    padding: 0.4% 1% 0.4% 1%;
    cursor: pointer;
    
}

.carousel-featured-products .product-item .product-item-content {
    border-radius: 3px;
    margin: .1rem;
    text-align: center;
    height: 224px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-featured-products .product-item .product-image {
    width: 210px !important;
    height: 210px !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    object-fit: contain;
}
.p-carousel .p-carousel-indicators{
    display: none ;
}
.carousel-featured-products .product-item .product-image:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.carousel-featured-products .p-carousel .p-carousel-content .p-carousel-prev , .carousel-featured-products  .p-carousel .p-carousel-content .p-carousel-next{
    color: #000;
    background-color: #EAEDED;
    border-radius: 2px !important;
    height: 80px !important;
}

.carousel-featured-products .p-carousel .p-carousel-content .p-carousel-prev:hover , .carousel-featured-products  .p-carousel .p-carousel-content .p-carousel-next:hover{
    color: #000;
    background-color: #EAEDED;
    border-radius: 2px !important;
    height: 80px !important;
}

.home-prd-dialog .p-dialog-header {
    padding: 0rem !important;
}