
.navbar-main{
    position: sticky !important;
    top: 0;
    z-index: 9;
    width: 100% !important;
    background-image: linear-gradient(to right, #041E42 , #142977);
    box-shadow: 0px 10px 10px -18px rgb(102, 101, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 108px !important;
    cursor: pointer;
}

.mobile-navbar-main{
    position: sticky !important;
    box-shadow: 0px 10px 10px -18px rgb(102, 101, 101);
    top: 0;
    z-index: 9;
    width: 100% !important;
    background: green !important;
    border-bottom: 1px solid #eeeeee !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px !important;
    height: 50px !important;
}
.navbar-style{
    display: grid !important;
}

.nav-dropdown-link{
   color: #fff !important;
   min-height: 0px !important;
}

.ant-drawer-title{
    color: #fff !important;
}

.ant-drawer-header svg{
    color: #fff !important;
    font-weight: 800 !important;
}

.ant-drawer-body{
    padding: 0px !important;
}

.cart-product{
    padding: 14px 0px 14px 0px;
    border-width:0px 0px 0.8px 0px  !important;
    border-style: solid !important;
    border-color: #f8f8f8 !important;
}

.cart-product-badge{
    /* 1px solid #e96125 */
    background-color: #f2fef2;
    border: 1px solid #51aa1b;
    border-radius: 3px;
    color: #51aa1b;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    padding: 3px 5px 2px
}

.menu-list-btn-item{
    border-bottom: 1px solid #eeeeee !important;
    padding: 8px !important;
}
.menu-list-item{
    border-bottom: 1px solid #eeeeee !important;
    display: flex;
    flex-direction: row;
    cursor: pointer !important;
    padding: 8px !important;
}

.menu-list-item:hover {
    background-color: #eeeeee;
}

.ant-select-arrow{
    top: 42% !important;
    right: 11px !important;
    width: 24px !important;
    height: 24px !important;
    margin-top: -8px !important;
    font-size: 22px !important;
}


.navbar-btn-text{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.navbar-brand{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
}

.navbar-brand:hover{
    color: #FF9C32;
}

.navbar-btn-text:hover{
    color: #FF9C32;
}



.navbar-main-categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    align-items: center;
    margin-left: 2%;
}
.navbar-vl{
    border-left: 2px solid #fff;
    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
}
/* .navbar-btn-text{
    color: #fff;
    padding-bottom: 16px;
    border-bottom: 4px solid transparent;
    text-decoration: none;

} */

h2.test-text {
    color: #142977;
    padding: 8px;
    font-size: 20px;
    line-height: 1;
    width: 450px;
    text-align: center;
    position: absolute;
    top:0;
    align-self: center;
    z-index: 2;
    cursor: pointer;
    font-weight: 600;
  }
  
  h2.test-text:before {
    content: "";
    font-weight: 600;
    position: absolute;
    border: none;
    top: 0;
    bottom: -50%;
    left: 0;
    right: 0;
    z-index: -1;
    background: #fff;
    transform: perspective(20em) rotateX(-45deg);
    transform-origin: top;
    border: 4px solid #142977 !important;
  }


  .p-overlaypanel{
    margin-top:12px !important;
  }

  .p-overlaypanel:before {
        display: none !important;
  }

  .p-overlaypanel:after{
      display: none !important;
  }

  .p-overlaypanel-search{
    margin-top:10px !important;
    width: 48% !important;
    height: 300px !important;
  }

  .fitment-list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 4px;
  }

  .search-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid #eeeeee;
    color: #000 !important;
}

.search-icon .ant-input-group-addon{
    color: #FFF !important;
    background: #FF891E;
    border: none !important;
}

  .selectVechile{
    color: #FF891E;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
  }

  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button{
      background: #FF891E;
      border-color: #FF891E !important;
      border-radius: 0px !important;
  }