.footer-main{
    background-image: linear-gradient(to bottom, #142977, #041E42);
    padding: 22px 80px;
    color: #ffffff;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-title{
    color: #F8961F;
    font-size: 20px;
    font-weight: 500;
}

.footer-text{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.footer-link{
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 12px;
}

.footer-link:hover{
    color: #F8961F !important;
}


.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 18px;
    margin-top: 20px;
    border-top: 1.2px solid #fff;
}

