.detailmaindiv{
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0px auto;
    min-width: 0px;
    min-height: 0px;
    flex-direction: row;
    margin: 3%;
}

.thumbnailImage{
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin-left: 4px;
    border: 0.6px solid #ccc;
}

.product_li{
    font-size: 14px;
    color: #6c757d;
    font-weight: 500;
    line-height: 26px;
}

.p-galleria .p-galleria-thumbnail-container{
    background: white;
    justify-content: center !important;
}

.p-galleria-thumbnail-item{
    opacity: 1; 
}

.p-galleria .p-galleria-item-nav{
    background: #142977;
    border-radius: 2rem;
    z-index: 9;
    
}

.p-galleria .p-galleria-item-nav:hover{
    background: #FF891E !important;
}

.p-galleria .p-galleria-item-nav:focus{
      box-shadow: none !important;
}



.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev{
    background-color: #142977;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover{
    background-color: #FF891E;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:focus{
    box-shadow: none !important;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next{
    background-color: #142977;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover{
    background-color: #FF891E;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:focus{
    box-shadow: none !important;
}


.product_navbar{
    overflow: hidden;
    background-image: linear-gradient(to right, #FF891E , #ff9737, #faa453);
    position: sticky;
    top: 0;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    border-radius: 2px;
}

.product_navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid #FF891E;
  }
  
.product_navbar a:hover{
    background-color: #FF891E;
    color: #fff;
    border-bottom: 3px solid #fff;
  }


.product_navbar_title{
    font-size: 26px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
}

.product_navbar_desc{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 6px;
}


ul.striped-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
}
ul.striped-list > li {
    padding: 10px;
    width: 60%;
    border-radius: 2px;
    color: #000;
}
ul.striped-list > li:nth-of-type(odd) {
    background-color: #f7f7f7 ;
}
ul.striped-list > li:last-child {
    border-bottom: none;
}


.fitmentList{
    padding: 6px 10px;
    border: 1.5px solid green;
    border-radius: 4px;
    margin-top: 8px;
}


.prod-details-main{
    margin: 0px 10px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
  }

  .prod-details-submain{
      margin-bottom: 30px;
  }

  .prod-details-nav-item{
      margin: 3%;
  }

  @media only screen and (max-width: 768px) {
    .prod-details-main{
        margin: 0px 0px;
    }

    .prod-details-submain{
        flex-direction: column;
        margin-bottom: 15px;
    }

    .product_navbar{
        overflow: hidden;
        background-image: linear-gradient(to right, #FF891E , #ff9737, #faa453);
        position: sticky;
        top: 0;
        margin-left: 0%;
        margin-right: 0%;
        cursor: pointer;
        border-radius: 2px;
    }

    .prod-details-nav-item{
        margin: 2%;
    }

    ul.striped-list > li {
        padding: 10px;
        width: 100%;
        border-radius: 2px;
        color: #000;
    }
    .p-galleria .p-galleria-item-nav{
        display: none;
    }
    .thumbnailImage{
        height: 55px;
        width: 55px;
        object-fit: contain;
        margin-left: 4px;
        border: 0.6px solid #ccc;
    }
  }






